* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
}

body *{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


:root{
    --bg-color-img: #191616;
    --bg-color-black: #191616;
    --bg-form-black:#24221F;
    --bege:#D4CCB6;
    --cinza:#AFB6C2;
    --amarelo: #f8c965;
    --cinza-input:#868686;
    --marrom:#473404;
}


.container{
    display: flex;
    
}




 /*ASIDE */

 a{/*todos os links*/
    text-decoration: none;
    color: var(--amarelo);
} 


aside{
    flex: 1;
    display: flex;
    height: 100vh;
    background-color: var(--bg-color-black);
    color: white;
    flex-direction: column;
    
}



/*aside header*/
 #box{/*logo. img e texto*/
   display: flex;
   padding: 30px 30px 100px;
   position: relative;
   left:5%;
   
}

#box span{/*texto da logo*/
   
    position: absolute;
    margin: 10px;
     
    color: var(--bege);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    
}










/*SECTION*/   
  section {
    padding: 40px 80px;
    background-color: var(--bg-form-black);
    margin: 10%;
    border-radius: 5px;
}

 /*section body*/
section div h1{/*faça seu login*/
    color: var(--bege);
    display: flex;font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 10px 0;
}

section div h1 i{/*icon login*/
    color: var(--amarelo);
}

section div h1 span{/*tag 'p' faça seu login*/
    padding: 0 10px;
    
    
}

section h3{/*entre com as informações de cadastro*/
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: var(--cinza);

    padding-bottom: 17px;
}


/*section form*/
section form fieldset{
   border: none ;
    
}

form fieldset h3{
    padding-bottom: 10px;
    padding-top: 20px;
}

label{
    position: relative;
}


input{/*texto da caixa de texto*/

    padding: 0px 40px 0px 40px;
    caret-color:var(--amarelo);
    position: relative;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--bg-form-black);
    border: 1px solid var(--cinza-input);
    

    max-width: 335px;
    
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
  
}

label i{/*todos os icons*/
    z-index: 1;
    position: absolute;
    padding: 10px;
    color: var(--cinza); /* Cor do ícone */
    
}


#eye-icon{/*icon do olho*/
    position: absolute;
    right: 1%;
    cursor: pointer;
}




#E-mail:focus, #senha:focus{/*cor da outline da box ao clicar*/
    border-color: var(--amarelo);
    outline: 0;
    transition: 0.1s;
}


::-ms-reveal {/*olho automático do navegador(não estilizado)*/
    display: none;
}



.btn-esqueci{/*box do lembre-me e esquecia senha*/
   
    display: flex;
    max-width: 335px;

    color: var(--cinza);
    padding: 20px 0;
}

.lembre-me{
    flex: 1;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding: 0 5px;
  
} 

.esqueci{
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    padding: 0 10px;
}

.btn-entrar{/*botão entrar*/
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;

    background-color: var(--amarelo);
    max-width: 335px;
    width: 100%;
    padding: 12px 24px ;
    color: var(--marrom);
    border: none;
    border-radius: 5px;
}

.h3-registre-se{/*h3 do botão registre-se*/
    padding-top: 14px;
    display: flex;
    justify-content: center;
    color: var(--amarelo);

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    align-items: center;

}

.registre-se{
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    padding-left:5px ;
    
}



#btn-lembre-me{/*button de clicar para 'lembrar-me'*/
    background-color: var(--bg-form-black);
    border: 1px solid var(--cinza-input);
    font-size: 20px;
    border-radius: 4px;    
    cursor: pointer;
    width: 20px;
    height: 20px;

}


/*MAIN*/
main{
    flex: 1;
    background: url(./assets/travel.svg) center / cover no-repeat ;
    background-size: 100% 100%;
    background-color:var(--bg-color-img);
    
    
    height: 100vh;    
}



/*MEDIA SCREEN*/

@media screen and (max-width:600px) {
    .container {
        flex-direction: column;
        
    }
    
    aside{
        width: 100%;
    }
    main{
       flex: none;
       background-color: var(--bg-color-black);
    }
    section {
        padding: 40px 40px;
    }
    
  
    
}


/*HOVER*/

.esqueci:hover, .registre-se:hover{
    text-decoration:underline;
    
}